<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lactose-Free Tracking System</title>
  <link rel="stylesheet" href="/src/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
  <script src="/src/script.js" defer></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manufacturer">Manufacturer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/consumer">Consumer</a>
            </li>
            <a class="metamask" href="#" onclick="connectMetamask()">
              <!--icon from icons8-->
              <img src="/assets/icons/icons8-metamask-48.png" alt="metamask icon">
            </a>
        </div>
      </div>
    </nav>
    <div><span id="walletAddress"></span></div>
  </header>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <footer class="footer">
    <div class="footer-copyright">
      <p>&copy; 2024 - Eder Pagliotto</p>
    </div>
  </footer>

</body>

</html>