<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lactose-Free Tracking System</title>
  <link rel="stylesheet" href="/src/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
  <script src="/src/script.js" defer></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manufacturer">Manufacturer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/consumer">Consumer</a>
            </li>
            <a class="metamask" href="#" onclick="connectMetamask()">
              <img src="/assets/icons/icons8-metamask-48.png" alt="metamask icon">
            </a>
            <div class="address"><span id="walletAddress"></span></div>
          </ul>
        </div>
      </div>
    </nav>
    <div><span id="walletAddress"></span></div>
  </header>

  <div class="main-text">
    <h3>Welcome to the Lactose-Free Product Tracking and Verification System</h3>
    <p>We are a decentralized system that enables manufacturers to register lactose-free products, providing consumers with an easy way to check and verify their authenticity. This system enhances transparency and trust in lactose-free product labeling. Our platform ensures that all product information and supporting documents are stored securely and cannot be tampered with, guaranteeing a reliable source of information for both manufacturers and consumers.</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body d-flex">
            <img src="./assets/images/manufacturer.jpg" alt="Manufacturer" class="img-fluid me-3" style="width: 200px; height: 200px;">
            <div>
              <h5 class="card-title">Manufacturers</h5>
              <p class="card-text">Manufacturers can use our platform to register their lactose-free products. They need to provide essential details such as the product name, manufacturer info, and specifics. This ensures accurate and trustworthy product information.</p>
              <a href="/manufacturer" class="btn btn-primary btn-hover" style="background-color:  rgba(50, 124, 35, 0.8); border: none;">Register Products</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body d-flex">
            <img src="./assets/images/consumer.jpg" alt="Consumer" class="img-fluid me-3" style="width: 200px; height: 200px;">
            <div>
              <h5 class="card-title">Consumers</h5>
              <p class="card-text">Consumers can verify the authenticity of lactose-free products through our platform. They have access to detailed product information and can confirm its authenticity directly, ensuring confidence in their lactose-free choices.</p>
              <a href="/consumer" class="btn btn-primary btn-hover" style="background-color:  rgba(50, 124, 35, 0.8); border: none; ">Verify Products</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
    <div class="footer-copyright">
      <p>&copy; 2024 - Eder Pagliotto</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>