body, h2, p, input, button, textarea {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

header {
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 10px;
}

li {
  padding-right: 40px;
}

.container-fluid {
  position: relative;
}

.address {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-link.active {
  font-weight: bold;
}

.metamask img {
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.metamask img:hover {
  transform: scale(0.8);
  filter: brightness(80%);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-text {
  margin: auto;
  text-align: center;
}

.main-text p {
  margin: 20px;
}

form {
  margin: 20px;
  background: #ffffff;
  padding: 25px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

form h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

form h2:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: rgba(50, 124, 35, 0.8);
}

form input {
  margin-top: 5px;
}

form button {
  margin-top: 5px;
}

input, button, textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: rgba(230, 230, 230, 0.2);
  font-size: 1.1rem;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: rgba(71, 141, 58, 0.8);
  outline: none;
  background-color: #fff;
}

input:hover {
  color: rgba(0, 0, 0, 0.5);
}

textarea:hover::placeholder { 
  color: #C0C0C0;
}

#productDetails {
  margin-top: 5px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-details-text {
  white-space: pre-wrap;
}

button {
  background-color: rgba(50, 124, 35, 0.8);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(97, 213, 74, 0.8);
}

#productRetrieved {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

#productRetrieved h3 {
  margin-bottom: 15px;
  color: black;
}

#productRetrieved p {
  margin: 5px 0;
  color: black;
}

.document-link {
  color: black;
}

@media screen and (max-width: 880px) {
  .main-text .row {
    flex-direction: column;
    align-items: center;
  }

  .main-text .col-sm-6 {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .main-text .card-body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-text .card-body img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  form {
    max-width: 100%;
    padding: 20px;
  }
}

.btn-hover.btn-primary:hover {
  background-color: rgba(97, 213, 74, 0.8) !important;
}

.testimonials blockquote {
  border-left: 5px solid rgba(50, 124, 35, 0.8);
  padding-left: 15px;
  font-style: italic;
}

.blockquote-footer {
  padding-top: 2px;
}

.footer {
  background-color: #6a756c;
  opacity: 50%;
  color: white;
  padding: 40px 0;
}

.footer a {
  color: white;
  transition: color 0.2s;
}

.footer a:hover {
  color: rgba(50, 124, 35, 0.8);
}

.footer h5 {
  margin-bottom: 15px;
}

.footer .social-icons a {
  font-size: 1.5rem;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer .row > div {
    margin-bottom: 20px;
  }

  .footer .social-icons {
    margin-top: 10px;
  }
}
